{% extends "layout.html" %}
{% block content %}
<h1>HTTP Requests and Responses</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Method</th>
        <th>URI</th>
        <th>Request Headers</th>
        <th>Request Body (Truncated)</th>
        <th>Status Code</th>
        <th>Reason</th>
        <th>Response Headers</th>
        <th>Response Body (Truncated)</th>
    </tr>
    {% for req in requests %}
    <tr>
        <td><a href="{{ url_for('request_detail', request_id=req['id']) }}">{{ req['id'] }}</a></td>
        <td>{{ req['timestamp'] }}</td>
        <td>{{ req['method'] }}</td>
        <td>{{ req['uri'] }}</td>
        <td><pre>{{ req['headers'] }}</pre></td>
        <td><pre>{{ req['request_body'] }}</pre></td>
        <td>{{ req['status_code'] }}</td>
        <td>{{ req['reason'] }}</td>
        <td><pre>{{ req['response_headers'] }}</pre></td>
        <td><pre>{{ req['response_body'] }}</pre></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

