{% extends "layout.html" %}
{% block content %}
<h1>Request and Response Details</h1>
<h2>Request</h2>
<p><strong>ID:</strong> {{ request['id'] }}</p>
<p><strong>Timestamp:</strong> {{ request['timestamp'] }}</p>
<p><strong>Source IP:</strong> {{ request['src_ip'] }}</p>
<p><strong>Source Port:</strong> {{ request['src_port'] }}</p>
<p><strong>Destination IP:</strong> {{ request['dest_ip'] }}</p>
<p><strong>Destination Port:</strong> {{ request['dest_port'] }}</p>
<p><strong>Method:</strong> {{ request['method'] }}</p>
<p><strong>URI:</strong> {{ request['uri'] }}</p>
<!-- Request data -->
<p><strong>Headers:</strong></p>
<pre>{{ request['headers'] }}</pre>
<p><strong>Body:</strong></p>
<pre>{{ request['body'] }}</pre>

<h2>Response</h2>
<!-- Response data -->
<p><strong>Status Code:</strong> {{ request['status_code'] }}</p>
<p><strong>Reason:</strong> {{ request['reason'] }}</p>
<p><strong>Headers:</strong></p>
<pre>{{ request['response_headers'] }}</pre>
<p><strong>Body:</strong></p>
<pre>{{ request['response_body'].decode() }}</pre>
{% endblock %}

